{% extends 'bootstrap/base.html' %}

{% block navbar %}{% include 'header_nav.html' %}{% endblock %}

{% block content %}

    <h1>Create a New Book</h1>

    <form method='POST' action="{{ url_for('createBook') }}">
        <p>Book Title:<input type='text' name='title' size='35'></p>
        <p>Book Subtitle:<input type='text' name='subtitle' size='35'></p>
        <p>Author:<input type='text' name='author' size='35'></p>
        <p>Second Author:<input type='text' name='author2' size='35'></p>
        <p>Description:<input type='text' name='description' size='55'></p>
        <p>Category:<select name='category_id'>
            {% for category in categories %}
                <option value="{{ category.id }}">{{ category.name }}</option>
            {% endfor %}
        </select></p>
        <p>If your book doesn't match an existing category, <a href="{{url_for('createCategory')}}">create the category first</a></p>

        <button type="submit">Create</button>
    </form>

{% endblock %}
