{% extends "bootstrap/base.html" %}

{% block navbar %}{% include "header_nav.html" %}{% endblock %}

{% block content %}

<div class="container well">

    <h2>Delete Book: {{ book.title }}</h2>

    <div class="alert alert-danger" role="alert">Are you sure you want to delete the book <strong>{{ book.title }}</strong> from the list?</div>

    <form class="form-horizontal" method="POST" action="{{ url_for('deleteBook', book_id = book.id) }}">

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">Yes, Delete <strong>{{ book.title }}</strong></button>
            </div>
        </div>

    </form>

    <table class='table table-striped table-condensed'>
            <th>Title</th><th>Author</th><th>Category</th>
            {% for book in books %}

                <tr><td><a href="{{ url_for('singleBook', book_id = book.id) }}">{{ book.title }}</a></td><td>{{ book.author }}</td>

                {% for category in category_counts %}
                    {%  if category.id == book.category_id %}
                        <td>{{ category.name }}</td>
                    {% endif %}
                {% endfor %}

                <td><a href="{{ url_for('editBook', book_id = book.id) }}">Edit</a></td><td><a href="{{ url_for('deleteBook', book_id = book.id) }}">Delete</a></td></tr>

            {% endfor %}
            </table>

</div>

{% endblock %}


