{% extends 'bootstrap/base.html' %}

{% block navbar %}{% include 'header_nav.html' %}{% endblock %}

{% block content %}

<div class='container'>
    <div class='row'>
        <div class='col-md-6'>
            <h2>Categories</h2>

            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class="flashes list-unstyled">
                    {% for message in messages %}
                        <li><div class="alert alert-success" role="alert"><strong>{{ message }}</strong></div></li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}

            <table class='table table-striped table-condensed'>
            <th>Category Name</th><th>Title Count</th>
            {% for category in category_counts %}
                <tr><td><a href="{{ url_for('listBooks', category_id = category.id) }}">{{ category.name }}</a></td><td>{{ category.count }}<td><a href="{{ url_for('editCategory', category_id = category.id) }}"> Edit</a></td><td><a href="{{ url_for('deleteCategory', category_id = category.id) }}"> Delete</a></td></tr>

            {% endfor %}
            </table>
        </div>

        <div class='col-md-6'>
            <h2>Books <small>alpha by title</small></h2>

            <table class='table table-striped table-condensed'>
            <th>Title</th><th>Author</th><th>Category</th>
            {% for book in books %}

                <tr><td><a href="{{ url_for('singleBook', book_id = book.id) }}">{{ book.title }}</a></td><td>{{ book.author }}</td>

                {% for category in category_counts %}
                    {%  if category.id == book.category_id %}
                        <td>{{ category.name }}</td>
                    {% endif %}
                {% endfor %}

                <td><a href="{{ url_for('editBook', book_id = book.id) }}">Edit</a></td><td><a href="{{ url_for('deleteBook', book_id = book.id) }}">Delete</a></td></tr>

            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
