<html>
<body>
    <header>
        <h1>Index Page for Book Catalog</h1>
    </header>

    <h2>List of Categories</h2>
    <a href="{{ url_for('createCategory') }}">create new category</a>

        <ul>
        {% for category in categories %}

            <li><a href="{{ url_for('listBooks', category_id = category.id) }}">{{ category.name }}</a></li>

        {% endfor %}
        </ul>

    <h2>List of Books</h2>

        <ul>
        {% for book in books %}

            <li>{{ book.title }} - {{ book.author }}</li>

        {% endfor %}
        </ul>

</body>

